.Subnav{
    flex: .2;
    background-color: white;
    padding-bottom: .6rem;
    padding-top: .8rem;
    font-size: 15px;
    display: flex;
    align-items: center;
}
.backBtn{
    margin-left: 2.4rem !important;
    font-size: 38px;
    cursor: pointer;
    color: #303030;
}
.dropBtn{
    background-color: #303030 !important;
    opacity: .8;
    border-color: #303030 !important;
    box-shadow: none !important;
}
.links a{
    text-decoration:none;
    color: #303030;
}
.path{
    color: #303030;
    font-size: 18px;
}
@media screen and (max-width: 1024px){
    .backBtn{
        margin-left: 10px !important;
    }
}
@media screen and (max-width: 768px){
    .path{
        font-size: clamp(1rem,3vw,1.8rem);
    }
    .backBtn{
        margin-left: 0px !important;
        margin-right: 0px !important;
        font-size: clamp(35px,40px,40px) !important;
    }
    .dropBtn{
        margin-left: 2px !important;
        margin-right: 2px !important;
    }
    .path{
        margin-left: 5px !important;
        margin-right: 5px !important;
    }
}