.Suggestion{
    height: fit-content;
    min-height: 60px;
    width: 95%;
    background-color: white;
    display: flex;
    border: 0px solid #FAFAFA;
    border-radius: 8px;
    -webkit-box-shadow: 0 0 3px 2px grey;
     -moz-box-shadow: 0 0 3px 2px grey;
     box-shadow: 0 0 3px 2px grey;
    margin-top: .5rem;
    margin-bottom: .5rem;
}
.image{
    flex: 2;
    border:0px solid;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.image img{
    height: 100%;
    width: 100%;
    border:0px solid;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.details{
    flex:3;
    background-color: white;
    border:0px solid;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: .5rem;
}
.title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.folder_icon{
    font-size: 18px;
    font-size: clamp(6px,1.4vw,20px);
}
.title h6{
    font-size: clamp(6px,1.4vw,20px);
    font-weight: 500;
}

.data{
    font-size: clamp(10px,.8vw,22px);
}
@media screen and (max-width: 1024px){
    .data{
       font-size: clamp(16px,1.8vw,40px);
    }
    .Suggestion{
        max-height: 160px;
    }
    .title h6{
        font-size: clamp(18px,2.6vw,30px);
    }
    .folder_icon{
        font-size: clamp(18px,2.6vw,30px);
    }
}